@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Lato:wght@100;300;400;700;900&family=Open+Sans:wght@300&family=Raleway:wght@200;300;400&family=Roboto:wght@100;300;400;500;700;900&family=Space+Mono:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #F5F5F5;
}

h1 {
    font-weight: 700;
    text-align: center;
    padding: 20px 0;
    font-size: 40px;
}

.line {
    background: #1b0499;
    height: 5px;
    width: 100%;
    display: block;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    padding: 40px 0;
    overflow: hidden;
}

.gallery > a {
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.gallery img{
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
    transition: transform 0.5s;
}

.gallery a:hover img{
    /* probar */
    filter: blur(1px);
    transform: rotate(10deg) scale(1.3);
}

.light-box {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.light-box img {
    width: 75vw;
    max-height: 70vh;
}

.light-box:target {
    transform: scale(1);
}

.close {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background: #1b0499;
    color: #fff;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.next {
    display: block;
    background: #1b0499;
    color: #fff;
    width: 40px;
    height: 40px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
}


.previous {
    display: block;
    background: #1b0499;
    color: #fff;
    width: 40px;
    height: 40px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
}

@media screen and (max-width:400px) {
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .close {
        top: 20px;
        right: 20px;
    }
}